.bar ul{
    
    padding: 0px;
    margin: 0px 0px;
    overflow: hidden;
    display: block;
    background-color:silver ;
}
.bar ul li{
    list-style: none;
    
    padding: 0px 40px;
    overflow: hidden;
    float: left;
    background-color:silver;
    font-size: 25px;
    color: black;
}
.bar ul li:hover{
    background-color:#EEEEEE;
    color:black;
    font-size: 25px;
    border-radius: 30px;
}
.first{
    
}
.second{
    margin-top: -600px;
    margin-left: 650px;
}
.blk{
    color: black;
    font-size: 20px;
    font-style: normal;

}
.lk a{
    color: #76b5c5;
    border: solid 4px #76b5c5 ;
    border-radius: 20px;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    color: white;
    background-color:#76b5c5 ;
    font-size: 20px;
    width: 10px;

}
.lk a:hover{
    background-color:#B5EAEA;
    
}
.hd{
    margin-top: -420px;
    margin-left: 100px;
    color: #76b5c5;
    font-size: 35px;
    padding: 10px;
}
.dr{
    margin-top: 90px;
    margin-left: 60px;
}
.st{
    margin-top:-520px ;
    margin-left: 680px;
    height: 500px;
    display: block;
    font-size: 20px;
}
.comp{
    margin-left: 650px;
}

.table{
    margin-top: 80px;
}
.consu1{
    margin-left: 150px;
    margin-top: 140px;
}
.consu2{
    margin-left: 450px;
    margin-top: -95px;  
}
.consu3{
    margin-left: 700px;
    margin-top: -98px;    
}
.consu4{
    margin-left: 150px;
    margin-top: 100px;
}
.consu5{
    margin-left: 450px;
    margin-top: -90px;
}
.consu6{
    margin-left: 700px;
    margin-top: -95px;
}

.back{
    height: 500px;
    width: 400px;
    background-color: #9FD9DD;
    margin-top: -560;
    margin-left: 800px;
}
.box{
    height: 400px;
    width: 350px;
    background-color:#9FD9DD;
    margin-top: -300px;
    margin-left: 930px;
    padding: 15px;
    font-size: 20px;
}
.compp{
    font-size: 20px;
    margin-left: -500px;
    margin-top: -500px;
}
.our{
    font-size: 80px;
    margin-top: 150px;
    margin-left: 500px;
    margin-bottom: 30px;
}
.dr1{
    margin: 10px;
    margin-left: 200px;
}
.dr2{
    margin-top: -375px;
    margin-left:500px;
}
.dr3{
    margin-top: -375px;
    margin-left: 830px;
}
.sur{
    height: 500px;
    width: 100%;
    background-color:#9FD9DD;
    font-size: 20px;

}
.op{
    width: 100%;
    height: 500px;
    margin-top: 100px;
    
}
.form{
    margin-top: 650px;
    margin-left: 380px;
    height: 450px;
    width: 480px;
    border: solid 4px black;
    padding-left:70px ;
    padding-top:40px ;
    background-color:#EEEEEE;
    
}
input[type="text"]{
    width: 80%;
    height: 30px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 30px;
}
input[type="textarea"]{
    padding-top: -200px;
    border: solid 2px black;
    border-radius: 20px;
    padding-top: 0px;
    font-size: 30px;
}
.nc{
    font-size: 25px;
    margin-top: -400px;
    margin-left: 20px;
}
input[type="submit"]{
    border: black solid 2px;
    font-size: 30px;
    border-radius: 20px;
    background-color: #9FD9DD;
    font-weight: bold;
    margin-left: 140px;
    
}
input[type="submit"]:hover{
    background-color:white;
    
}
input[type="checkbox"]{
    font-size: 20px;
}
.ac{
    font-size: 30px;
    color: red;

}
.fo{
    height: 200px;
    width: 100%;
    background-color: black;
    margin-top: 300px;
    
}

.sa{
    color: white;
    font-size: 20px;
    padding-top: 20px;
}
.link a{
    color: white;
    text-decoration: none;
    list-style: none;

}